## Univariate correlation analysis

TODO: describe

In [1]:
import sys
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

import pancancer_evaluation.config as cfg
import pancancer_evaluation.utilities.data_utilities as du

%load_ext autoreload
%autoreload 2

In [2]:
gene = 'TP53'

### Load expression data and mutation label data

In [3]:
print('Loading gene label data...', file=sys.stderr)
genes_df = du.load_top_50()
sample_info_df = du.load_sample_info(verbose=True)

# this returns a tuple of dataframes, unpack it below
pancancer_data = du.load_pancancer_data(verbose=True)
(sample_freeze_df,
 mutation_df,
 copy_loss_df,
 copy_gain_df,
 mut_burden_df) = pancancer_data

rnaseq_df = du.load_expression_data(verbose=True)

# standardize columns of expression dataframe
print('Standardizing columns of expression data...', file=sys.stderr)
rnaseq_df[rnaseq_df.columns] = StandardScaler().fit_transform(rnaseq_df[rnaseq_df.columns])

Loading gene label data...
Loading sample info...
Loading pan-cancer data from cached pickle file...
Loading gene expression data...
Standardizing columns of expression data...

In [4]:
print(rnaseq_df.shape)
rnaseq_df.iloc[:5, :5]

(11060, 16148)

                        1        10       100      1000      10000
sample_id
TCGA-02-0047-01 -0.144100 -0.136450 -0.207065  1.049402   0.644625
TCGA-02-0055-01 -0.124925 -0.197893 -0.132694  0.704438   0.154763
TCGA-02-2483-01 -0.133543 -0.174587 -0.103291  1.473420   0.669303
TCGA-02-2485-01 -0.147052 -0.072888 -0.213119  4.405612  11.503035
TCGA-02-2486-01 -0.145321 -0.181076 -0.147395  1.013468   0.117745

In [5]:
sample_freeze_df.head()

  PATIENT_BARCODE   SAMPLE_BARCODE DISEASE         SUBTYPE
0    TCGA-OR-A5J1  TCGA-OR-A5J1-01     ACC  Not_Applicable
1    TCGA-OR-A5J2  TCGA-OR-A5J2-01     ACC  Not_Applicable
2    TCGA-OR-A5J3  TCGA-OR-A5J3-01     ACC  Not_Applicable
3    TCGA-OR-A5J5  TCGA-OR-A5J5-01     ACC  Not_Applicable
4    TCGA-OR-A5J6  TCGA-OR-A5J6-01     ACC  Not_Applicable

In [6]:
mutation_df.iloc[:5, :5]

                 5S_rRNA  A1BG  A1CF  A2M  A2ML1
SAMPLE_BARCODE
TCGA-02-0047-01        0     0     0    0      0
TCGA-02-0055-01        0     0     0    0      0
TCGA-02-2483-01        0     0     0    0      0
TCGA-02-2485-01        0     0     0    0      0
TCGA-02-2486-01        0     0     0    0      0

In [7]:
y_df = (mutation_df
    .loc[:, [gene]]
    .merge(sample_freeze_df, left_index=True, right_on='SAMPLE_BARCODE')
    .drop(columns='PATIENT_BARCODE')
    .set_index('SAMPLE_BARCODE')
)
print(y_df.shape)
y_df.head()

(9074, 3)

                 TP53 DISEASE           SUBTYPE
SAMPLE_BARCODE
TCGA-02-0047-01     0     GBM             IDHwt
TCGA-02-0055-01     1     GBM             IDHwt
TCGA-02-2483-01     1     GBM  IDHmut-non-codel
TCGA-02-2485-01     1     GBM             IDHwt
TCGA-02-2486-01     0     GBM             IDHwt

### Calculate pan-cancer univariate feature correlations